/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

nav ul.menu {
    display: flex;
    gap: 25px;
}

nav ul.menu li {
    list-style: none;
}

nav ul.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#menuBtn {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
}

/* BANNER */
.banner {
    text-align: center;
    padding: 20px;
}

.banner img {
    width: 90%;
    max-width: 700px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.slogan {
    font-size: 14px;
    margin-top: 8px;
    letter-spacing: 2px;
}

/* SECTIONS */
.section {
    width: 75%;
    margin: 40px auto;
    text-align: center;
}

.titulo {
    color: #d9a500;
    font-size: 32px;
    margin-bottom: 20px;
}

.section p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    margin-top: 40px;
    padding: 40px 20px;
    background: #f1f1f1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.footer-box {
    width: 180px;
    margin: 10px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-item {
    color: #555;
    margin: 5px 0;
}

.footer-text {
    font-size: 14px;
    color: #666;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

    nav ul.menu {
        display: none;
        flex-direction: column;
        background: white;
        width: 100%;
        margin-top: 10px;
        padding: 15px 0;
        border-top: 2px solid #ddd;
    }

    nav ul.menu.abrir {
        display: flex;
    }

    #menuBtn {
        display: block;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }
}